<header class="header">
	<h1 class="logo">AXSAKL<span>: Access Auckland</span></h1>

	<input type="checkbox" id="navCheck" class="navCheck">
	<label for="navCheck" class="navBtn"><span>Navigation</span></label>

	<nav class="nav">
		<label for="navCheck" class="navClose">Close</label>
		<h2>Options</h2>
		<div class="tools">
		
			<h3>Hours</h3>
			<div id="hours" class="slider"></div>

			<h3>Days</h3>
			<div id="days" class="slider"></div>

			<h3>Mode</h3>
			<div class="checkGroup">

				<input type="checkbox" id="bus">
				<label for="bus">Bus</label>

				<input type="checkbox" id="train">
				<label for="train">Train</label>

				<input type="checkbox" id="ferry">
				<label for="ferry">Ferry</label>

		</div>
	</nav>

</header>

<main>
	
	 <div id="map" class="map"></div>

</main>

<footer>
	
</footer>