<header class="header">
	<h1 class="logo">AXSAKL<span>: Access Auckland</span></h1>

	<input type="checkbox" id="navCheck" class="navCheck">
	<label for="navCheck" class="navBtn"><span>Navigation</span></label>

	<nav class="nav">
		<label for="navCheck" class="navClose">Close</label>
		<h2>Options</h2>
		<ul>
			<li>
				<h3>Time</h3>
				<ul>
					<li>
						<label>
							Hours
							<input type="range" name="hours" min="0" max="23">
						</label>
					</li>
					<li>
						<label>
							Days
							<input type="range" name="hours" min="1" max="7">
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

</header>

<main>
	
	<div>This is where the content will go&hellip; yea</div>

</main>

<footer>
	
</footer>