<header class="header">
	<h1 class="logo">AXSAKL<span>: Access Auckland</span></h1>

	<input type="checkbox" id="navCheck" class="navCheck">
	<label for="navCheck" class="navBtn"><span>Navigation</span></label>

	<nav class="nav">
		<label for="navCheck" class="navClose">Close</label>
		<h2>Options</h2>
		<div class="navOptions">
			<fieldset title="Time">
					<h4>Hours</h4>
					<div id="hours"></div>
			</fieldset>
			<fieldset title="Days">
				<div id="days"></div>
			</fieldset>
		</div>
	</nav>

</header>

<main>
	
	 <div id="map" class="map"></div>

</main>

<footer>
	
</footer>