<header class="header">
	<h1 class="logo">AXSAKL<span>: Access Auckland</span></h1>

	<input type="checkbox" id="navCheck" class="navCheck">
	<label for="navCheck" class="navBtn"><span>Navigation</span></label>

	<nav class="nav">
		<label for="navCheck" class="navClose">Close</label>
		<h2>Options</h2>
		<ul class="navOptions">
			<li>
				<h3>Time</h3>
				<ul>
					<li>
						<h4>Hours</h4>
						<div id="hours"></div>
					</li>
					<li>
						<h4>Days</h4>
						<div id="days"></div>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

</header>

<main>
	
	 <div id="map" class="map"></div>

</main>

<footer>
	
</footer>