// ----------------------------------------
// GENERAL

body
	background: $background
	color: $copy
	font: 14px/18px 'Bitter', serif
	overflow: hidden

a
	color: $links
	text-decoration: none
	&:hover
		color: $hovers

h1
	font: bold 30px/30px 'Bitter', serif
	text-transform: lowercase

	span
		@include off-screen

// ----------------------------------------
// HEADER

.header
	background: $panels
	@include clearfix

	.logo
		float: left
		height: 44px
		line-height: 44px
		margin: 0
		padding: 0 10px

	.navBtn
		float: right
		height: 44px
		position: relative
		width: 44px
		z-index: 0
		@include user-select(none)

		span,
		&:before,
		&:after
			background: $copy
			border-radius: 3px
			height: 6px
			left: 9px
			position: absolute
			width: 26px

		span
			top: 19px
			@include hide-text

		&:before
			content: ''
			top: 8px

		&:after
			content: ''
			bottom: 8px

		&:hover
			cursor: pointer

			span,
			&:before,
			&:after
				background: $copyhover

	.navClose
		float: right
		height: 44px
		position: relative
		width: 44px
		z-index: 0
		@include hide-text
		@include user-select(none)

		&:before,
		&:after
			background: $panelsbtn
			border-radius: 3px
			content: ''
			height: 6px
			left: 4px
			position: absolute
			top: 19px
			width: 36px

			-moz-transform: rotate(45deg)
			-webkit-transform: rotate(45deg)
			-o-transform: rotate(45deg)
			-ms-transform: rotate(45deg)

		&:after
			-moz-transform: rotate(-45deg)
			-webkit-transform: rotate(-45deg)
			-o-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)

		&:hover
			cursor: pointer

			span,
			&:before,
			&:after
				background: $copylight


	.nav
		background: $drawers
		box-shadow: 0 0 50px $shadow
		color: $copylight
		height: 100%
		right: 0
		position: absolute
		top: 0
		-webkit-transition: all 0.5s
		transition: all 0.5s
		-webkit-transform: translate3d(350px, 0, 0)
		transform: translate3d(350px, 0, 0)
		width: 300px
		z-index: 100

	.navCheck
		display: none

		&:checked ~ .navBtn

			&~ .nav
				-webkit-transform: translate3d(0, 0, 0)
				transform: translate3d(0, 0, 0)
				visibility: visible

// ----------------------------------------
// MAP

.map
	height: 500px







